 /* --- top navigation --- */
 .navbar {
    overflow: hidden;
    background-color: rgba(24, 22, 22, 0.658);
    
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: rgba(142, 199, 156, 0.61);
    color: black;
  }
  
  .navbar a.active {
    background-color: #4eac75a4;
    color: white;
  }
/* --- end top navigation --- */